#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1.9%;
    height: 22%;
    top: 28%;
    left: 48.999%;
    opacity: 0.8;
}

#minute{
    width: 1.6%;
    height: 29%;
    top: 21%;
    left: 48.999%;
    opacity: 0.8;
}

#second{
    width: 1.4%;
    height: 36%;
    top: 14%;
    left: 48.999%;
    opacity: 0.8;
}